body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  transition: background-color 0.3s;
}

.header h1 {
  margin: 0;
}

.header a {
  text-decoration: none;
  color: blue;
}


.new-event-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.new-event-button:hover {
  background-color: darkgreen;
}

.theme-toggle-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.theme-toggle-button:hover {
  background-color: #0056b3;
}

.search-bar {
  margin: 20px;
}

.search-bar input {
  width: 80%;
  padding: 10px;
}

.ticket-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ticket {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  width: 200px;
  text-align: left;
  transition: background-color 0.3s, border-color 0.3s;
}

.ticket img {
  width: 100%;
  height: auto;
}

.ticket h3 {
  margin: 10px;
  font-size: 1.2em;
}

.ticket p {
  margin: 10px;
  color: grey;
  font-size: 0.9em;
}

body.dark-mode .header {
  background-color: #444444;
}

body.dark-mode .ticket {
  border-color: #555555;
  background-color: #444444;
}

body.dark-mode .new-event-button {
  background-color: #28a745;
}

body.dark-mode .new-event-button:hover {
  background-color: #218838;
}

body.dark-mode .theme-toggle-button {
  background-color: #0056b3;
}

body.dark-mode .theme-toggle-button:hover {
  background-color: #003f7f;
}
